{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Health-Seva</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/inscss/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/inscss/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/inscss/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'inshome' %}">
            <span class="notranslate">
              Health-Seva
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'inshome' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insclients' %}"> Client</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insplans' %}"> Plans </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insclaims' %}">Claims</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insreimburese' %}">Reimburesement</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'insprofile' %}"> Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'inslogout' %}">Logout</a>
                </li>
                &ensp;<div id="google_translate_element"></div>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>  

  <div class="footer_bg">

    <!-- contact section -->
    <section class="contact_section layout_padding" id="contactLink">
      <div class="container">
        <div class="heading_container">
          <h2>
            Profile
          </h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <form>
              <div>
                <div style="text-align: center;">
                  <label>Bank Name : </label>&emsp;<p style="display: inline;border: transparent;background: white; border-radius: 30px;padding: 10px 100px;color: #5b5b5b;width: 70%;float: right;"> {{request.user.username}}</p>
                  <br><br><br>
                  <label>Email : </label>&emsp;<p style="display: inline;border: transparent;background: white; border-radius: 30px;padding: 10px 100px;color: #5b5b5b;width: 70%;float: right;"> {{request.user.email}}</p>
                  <br><br><br>
                  <label>Last Login : </label>&emsp;<p style="display: inline;border: transparent;background: white; border-radius: 30px;padding: 10px 100px;color: #5b5b5b;width: 70%;float: right;"> {{request.user.last_login}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <!-- end contact section -->



    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="info_logo">
              <h3>
                Health-Seva
              </h3>
              <p>
                Health Seva helps your health insurance process and claims easier.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_links">
              <h4>
                BASIC LINKS
              </h4>
              <ul class="  ">
                <li class=" active">
                  <a class="" href="{% url 'inshome' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insclients' %}"> Clients</a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insplans' %}"> Plans</a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insclaims' %}"> Claims </a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insreimburese' %}"> Reimburesement </a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insprofile' %}"> Profile </a>
                </li>
                <li class="">
                  <a class="" href="#contactLink">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_contact">
              <h4>
                CONTACT DETAILS
              </h4>
              <a href="">
                <div class="img-box">
                  <img src="{% static 'images/telephone-white.png' %}" width="12px" alt="">
                </div>
                <p>
                  +91 8466997216
                </p>
              </a>
              <a href="">
                <div class="img-box">
                  <img src="{% static 'images/envelope-white.png' %}" width="18px" alt="">
                </div>
                <p>
                  principal@cbit.ac.in
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_form ">
              <h4>
                NEWSLETTER
              </h4>
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
              <div class="social_box">
                <a href="https://www.facebook.com/CBIThyderabad/">
                  <img src="{% static 'images/info-fb.png' %}" alt="">
                </a>
                <a href="https://twitter.com/cbithyd">
                  <img src="{% static 'images/info-twitter.png' %}" alt="">
                </a>
                <a href="https://in.linkedin.com/school/chaitanya-bharathi-institute-of-technology/">
                  <img src="{% static 'images/info-linkedin.png' %}" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UCUW8oQB8Fl6j-pg2g_sf1tw">
                  <img src="{% static 'images/info-youtube.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

  </div>

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>


</body>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {pageLanguage: 'en'},
      'google_translate_element'
    );
  }
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>

</html>