{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Health-Seva</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/inscss/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/inscss/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/inscss/responsive.css' %}" rel="stylesheet" />
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'inshome' %}">
            <span class="notranslate">
              Health-Seva
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'inshome' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insclients' %}"> Clients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insplans' %}"> Plans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insclaims' %}">Claims</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insreimburese' %}">Reimburesement</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insprofile' %}"> Profile </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'inslogout' %}">Logout</a>
                </li>
                &ensp;<div id="google_translate_element"></div>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    {% for message in messages %}
  <div style="color:black;border: 1px solid #4F8A10;background: #DFF2BF;text-align: center;margin: 20px 35px;">
    <p>{{message}}</p>
  </div>
  {% endfor %}

    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail_box">
                    <h1>
                      Insurance
                    </h1>
                    <p>
                        The insurance sector is made up of companies that offer risk management in the form of insurance contracts. The basic concept of insurance is that one party, the insurer, will guarantee payment for an uncertain future event. Meanwhile, another party, the insured or the policyholder, pays a smaller premium to the insurer in exchange for that protection on that uncertain future occurrence.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Know More
                      </a>
                    </div>
                  </div>
                </div>
                 <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail_box">
                    <h1>
                      Client
                    </h1>
                    <p>
                        A client is person who is insured and is able to claim the insurance. Depending on the health insurance policy the client is given the benefits. And depending on the healthcare benefits provided by the healthcare the bills should be provided to reimburse the money to the client or the healthcare.
                          
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Know More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail_box">
                    <h1>
                      Health Care
                    </h1>
                    <p>
                        Health insurance is an insurance product which covers medical and surgical expenses of an insured individual. It reimburses the expenses incurred due to illness or injury or pays the care provider of the insured individual directly.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Know More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div> -->
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img2.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                What is Health Insurance?
              </h2>
            </div>
            <p>
                It is an agreement between the insurer and the policyholder whereby an insurance company agrees to reimburse for medical costs incurred by the policyholder during the tenure of the policy. According to the policy terms, the insured may incur medical expenses if they get ill or meet an unfortunate accident that leads to treatment at the hospital. To avail of the coverage benefits of the policy, the policyholder must pay a specific amount periodically, called a premium. The premium is determined by the insurance company and must be paid by the policyholders without any fail either monthly, quarterly, half-yearly or annually.
            </p>
            <a href="https://www.rbi.org.in/Scripts/bs_viewcontent.aspx?Id=2256">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->


  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h3>
            <b>How to Buy Health Insurance Plan Online?</b>
        </h3>
        <p>
            Now getting insured online is not rocket science. Buying an affordable mediclaim policy which meets all your requirements is very simple and quick with us.
        </p>
      </div>

      <div class="service_container">
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/s-4.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
                Step 1: Enter Personal Details
            </h5>
            <p>
                Fill up your details like Name, Mobile Number, Email-Id, Gender, City, and other crucial details to see the top insurance plans available as per your requirements.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/s-2.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
                Step 2: Compare Plans Online
            </h5>
            <p>
                From all the available health insurance quotes, select the plan which meets your budget and requirements in the best manner.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/s-5.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
                Step 3: Complete Online Payment
            </h5>
            <p>
                Choose the payment mode and pay the premium online through a secured payment gateway to get the policy document at your registered email ID.
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>
  <!-- end service section -->

  <!-- team section -->
<br><br><br>
  <section class="team_section layout_padding2-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Team
        </h2>
      </div>
    </div>
    <div class="team_container">
      <div class="box b-1">
        <div class="img-box">
          <img src="{% static 'images/team-2.jpg' %}" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Hanoch Sury Rao
          </h5>
          <p>
            Student
          </p>
          <div class="social_box">
            <a href="">
              <img src="{% static 'images/fb.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/twitter.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/linkedin.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/insta.png' %}" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="box b-2">
        <div class="img-box">
          <img src="{% static 'images/team-3.jpg' %}" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Sathvik Reddy
          </h5>
          <p>
            Student
          </p>
          <div class="social_box">
            <a href="">
              <img src="{% static 'images/fb.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/twitter.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/linkedin.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/insta.png' %}" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="box b-3">
        <div class="img-box">
          <img src="{% static 'images/team-4.jpg' %}" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Sathvik Sakinala
          </h5>
          <p>
            Student
          </p>
          <div class="social_box">
            <a href="">
              <img src="{% static 'images/fb.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/twitter.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/linkedin.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'images/insta.png' %}" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end team section -->

  <div class="footer_bg">

    <!-- contact section -->
    <section class="contact_section layout_padding" id="contactLink">
      <div class="container">
        <div class="heading_container">
          <h2>
            Get In touch
          </h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="inputName4" placeholder="Name ">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email id">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="form-control" id="inputSubject4" placeholder="Subject">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputMessage" placeholder="Message">
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <!-- end contact section -->



    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="info_logo">
              <h3>
                Health-Seva
              </h3>
              <p>
                Health Seva helps your health insurance process and claims easier.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_links">
              <h4>
                BASIC LINKS
              </h4>
              <ul class="  ">
                <li class=" active">
                  <a class="" href="{% url 'inshome' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insclients' %}"> Clients</a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insplans' %}"> Plans</a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insclaims' %}"> Claims </a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insreimburese' %}"> Reimburesement </a>
                </li>
                <li class="">
                  <a class="" href="{% url 'insprofile' %}"> Profile </a>
                </li>
                <li class="">
                  <a class="" href="#contactLink">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_contact">
              <h4>
                CONTACT DETAILS
              </h4>
              <a href="">
                <div class="img-box">
                  <img src="{% static 'images/telephone-white.png' %}" width="12px" alt="">
                </div>
                <p>
                  +91 8466997216
                </p>
              </a>
              <a href="">
                <div class="img-box">
                  <img src="{% static 'images/envelope-white.png' %}" width="18px" alt="">
                </div>
                <p>
                  principal@cbit.ac.in
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_form ">
              <h4>
                NEWSLETTER
              </h4>
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
              <div class="social_box">
                <a href="https://www.facebook.com/CBIThyderabad/">
                  <img src="{% static 'images/info-fb.png' %}" alt="">
                </a>
                <a href="https://twitter.com/cbithyd">
                  <img src="{% static 'images/info-twitter.png' %}" alt="">
                </a>
                <a href="https://in.linkedin.com/school/chaitanya-bharathi-institute-of-technology/">
                  <img src="{% static 'images/info-linkedin.png' %}" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UCUW8oQB8Fl6j-pg2g_sf1tw">
                  <img src="{% static 'images/info-youtube.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->


    <!-- footer section -->
    <!-- footer section -->

  </div>

  <script type="text/javascript" src="{% static 'js/jqquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstraps.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/customs.js' %}"></script>

</body>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {pageLanguage: 'en'},
      'google_translate_element'
    );
  }
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>

</html>