{% extends 'main.html' %}
{% load static %}
{% block content %}
  </div>
  <title> Insurance </title>

  {% for message in messages %}
  <div style="border: 1px solid #4F8A10;background: #DFF2BF;text-align: center;margin: 20px 35px;">
    <p>{{message}}</p>
  </div>
  {% endfor %}

  <!-- service section -->
  
<!-- style="border: 1px solid transparent;box-shadow: 5px 0px 15px gray;border-radius: 2%;margin: auto;width: 95%;" -->
  <section class="service_section layout_padding" >
    <div class="service_container">
      <div class="container " style="max-width: none;">
        <div class="heading_container heading_center">
          <h1 style="font-size: 2rem;">
            <span style="color: #00bbf0;">Notification</span>
          </h1>
        </div>
        <hr><br><br>
        <div style="margin: 15px 40px;padding: 15px 15px 60px 15px;border: transparent; border-radius: 5px; background: white;color: black; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
            <p>From : {{notifs.bks.email}}</p>
            <p>To : {{notifs.cli.email}}</p>
            <p>Message : {{notifs.inc_notf}}</p>
            <form method="POST">
                {% csrf_token %}
                <button style="background: #ff1a1a; border: transparent; padding: 10px 20px;border-radius: 5px;color: white;float: right;">Delete</button>
            </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <!-- <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
        </p>
      </div> -->
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              What is Health Insurance?
            </h3>
            <p>
              It is an agreement between the insurer and the policyholder whereby an insurance company agrees to reimburse for medical costs incurred by the policyholder during the tenure of the policy. According to the policy terms, the insured may incur medical expenses if they get ill or meet an unfortunate accident that leads to treatment at the hospital. To avail of the coverage benefits of the policy, the policyholder must pay a specific amount periodically, called a premium.
            </p>
            <p>
              The premium is determined by the insurance company and must be paid by the policyholders without any fail either monthly, quarterly, half-yearly or annually.
            </p>
            <a href="https://www.rbi.org.in/Scripts/bs_viewcontent.aspx?Id=2256">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            How to Buy <span>Health Insurance</span> Plan Online?
          </h2>
          <p>
            Now getting insured online is not rocket science. Buying an affordable mediclaim policy which meets all your requirements is very simple and quick with us.
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Step 1: Enter Personal Details
                </h5>
                <p>
                  Fill up your details like Name, Mobile Number, Email-Id, Gender, City, and other crucial details to see the top insurance plans available as per your requirements.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s2.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Step 2: Compare Plans Online
                </h5>
                <p>
                  From all the available health insurance quotes, select the plan which meets your budget and requirements in the best manner.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s3.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Step 3: Complete Online Payment
                </h5>
                <p>
                  Choose the payment mode and pay the premium online through a secured payment gateway to get the policy document at your registered email ID.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container  ">
        <!-- <div class="heading_container heading_center">
          <h2>
            About <span>Us</span>
          </h2>
          <p>
            Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
          </p>
        </div> -->
        <div class="row" style="text-align: justify;">
          <div>
            <div class="detail-box">
              <h3>
                How To File A Health Insurance Claim?
              </h3>
              <p>
                Claim under a health insurance policy can be made in two ways - in a cashless manner and in a reimbursement manner. A cashless claim is when you receive treatment at a network hospital of the insurance provider who is servicing your policy. If the claim request is accepted, the insurance company directly settles the bills at the hospital. Whereas in reimbursement claims, you are required to pay for the hospital bill from your own pocket first, and make a claim request with the insurance company later. The insurance company will process your claim and reimburse you for the same after accepting the claim. You can make a health insurance claim by following the simple steps given below:
              </p>
              <ul>
                <li>Step 1: Visit the network hospital or the hospital of your choice and inform the insurance company about the hospitalisation.</li>
                <li>Step 2: Fill the pre-authorization form at the hospital’s TPA (third-party administrator) desk.</li>
                <li>Step 3: You will receive an approval letter by the claim management team.</li>
                <li>Step 4: Respond to the query raised by the claim management team, if any.</li>
                <li>Step 5: Avail the required medical treatment.</li>
                <li>Step 6: The insurance company will directly settle the bills at the network hospital as per the terms and conditions mentioned in your policy.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!-- end about section -->


  {% endblock content %}